$bg: url("./assets/floor_graph.png");
$bg-position: 4px 21.5px;

body {
    background: $bg;
    background-position: $bg-position;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}